@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, SmartBreadcrumbs
<div class="page-header">
    <div>
        <h1 class="page-title">@ViewData["Title"]</h1>
        @*<ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Dashboard 01</li>
            </ol>*@
        <breadcrumb></breadcrumb>
    </div>
    <div class="ms-auto pageheader-btn">
        @*<a href="javascript:void(0);" class="btn btn-primary btn-icon text-white me-2">
            <span>
                <i class="fe fe-plus"></i>
            </span> Create new exercise
        </a>*@
        @if (ViewData["Title"] == "Users")
        {
            <a asp-controller="Users" class="btn btn-success btn-icon text-white" asp-action="ExportToCsv">
                <span>
                    <i class="fe fe-log-in"></i>
                </span> Export CSV
            </a>

            <a asp-controller="Users" class="btn btn-success btn-icon text-white" asp-action="ExportToExcel">
                <span>
                    <i class="fe fe-log-in"></i>
                </span> Export Excel
            </a>
        }
        
    </div>
</div>