<!doctype html>
<html lang="en" dir="ltr">
<head>

    <!-- META DATA -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="CARTER - Coaching App">
    <meta name="author" content="Digital Unicorn">
    <meta name="keywords" content="carter, coaching app, basketball, basketball workout">

    <!-- FAVICON -->
    @*<link rel="shortcut icon" type="image/x-icon" href="../assets/images/brand/favicon.ico" />*@
    <link rel="shortcut icon" type="image/x-icon" href="../assets/images/brand/carter/logo-1.png" />

    <!-- TITLE -->
    <title>CARTER - Error</title>

    <!-- BOOTSTRAP CSS -->
    <link id="style" href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- STYLE CSS -->
    <link href="../assets/css/style.css" rel="stylesheet" />
    <link href="../assets/css/dark-style.css" rel="stylesheet" />
    <link href="../assets/css/skin-modes.css" rel="stylesheet" />
    <link href="../assets/css/transparent-style.css" rel="stylesheet" />

    <!--- FONT-ICONS CSS -->
    <link href="../assets/css/icons.css" rel="stylesheet" />

    <!-- COLOR SKIN CSS -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="../assets/colors/color1.css" />

</head>

<body class="error-bg">

    <!-- GLOBAL-LOADER -->
    <div id="global-loader">
        <img src="../assets/images/loader.svg" class="loader-img" alt="Loader">
    </div>
    <!-- End GLOBAL-LOADER -->
    <!-- PAGE -->
    <div class="page">

        <!-- PAGE-CONTENT OPEN -->
        <div class="page-content error-page error2">
            <div class="container text-center">
                <div class="error-template">
                    <h1 class="display-1 text-dark mb-2">@ViewBag.ErrorCode<span class="fs-20">error</span></h1>
                    <h5 class="error-details text-dark">
                        Sorry, an error has occured. @ViewBag.ErrorMessage
                    </h5>
                    <div class="text-center">
                        <a class="btn btn-primary mt-5 mb-5" href="/"> <i class="fa fa-long-arrow-left"></i> Back to Home </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGE-CONTENT OPEN CLOSED -->
    </div>
    <!-- End PAGE -->
    <!-- JQUERY JS -->
    <script src="../assets/js/jquery.min.js"></script>

    <!-- BOOTSTRAP JS -->
    <script src="../assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- SPARKLINE -->
    <script src="../assets/js/jquery.sparkline.min.js"></script>

    <!-- CHART-CIRCLE -->
    <script src="../assets/js/circle-progress.min.js"></script>

    <!-- Perfect SCROLLBAR JS-->
    <script src="../assets/plugins/p-scroll/perfect-scrollbar.js"></script>

    <!-- INPUT MASK PLUGIN-->
    <script src="../assets/plugins/input-mask/jquery.mask.min.js"></script>

    <!-- Color Theme js -->
    <script src="../assets/js/themeColors.js"></script>

    <!-- CUSTOM JS -->
    <script src="../assets/js/custom.js"></script>

</body>
</html>