@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- ROW-1 -->
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3">
                <div class="card overflow-hidden">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h6 class="">Total Clubs</h6>
                                <h3 class="mb-2 number-font">34,516</h3>
                                <p class="text-muted mb-0">
                                    <span class="text-primary"><i class="fa fa-chevron-circle-up text-primary me-1"></i> 3%</span> last month
                                </p>
                            </div>
                            <div class="col col-auto">
                                <div class="counter-icon bg-primary-gradient box-shadow-primary brround ms-auto">
                                    <i class="fe fe-trending-up text-white mb-5 "></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3">
                <div class="card overflow-hidden">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h6 class="">Total Teams</h6>
                                <h3 class="mb-2 number-font">56,992</h3>
                                <p class="text-muted mb-0">
                                    <span class="text-secondary"><i class="fa fa-chevron-circle-up text-secondary me-1"></i> 3%</span> last month
                                </p>
                            </div>
                            <div class="col col-auto">
                                <div class="counter-icon bg-danger-gradient box-shadow-danger brround  ms-auto">
                                    <i class="icon icon-rocket text-white mb-5 "></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3">
                <div class="card overflow-hidden">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h6 class="">Total Coaches</h6>
                                <h3 class="mb-2 number-font">42,567</h3>
                                <p class="text-muted mb-0">
                                    <span class="text-success"><i class="fa fa-chevron-circle-down text-success me-1"></i> 0.5%</span> last month
                                </p>
                            </div>
                            <div class="col col-auto">
                                <div class="counter-icon bg-secondary-gradient box-shadow-secondary brround ms-auto">
                                    <i class="fe fe-dollar-sign text-white mb-5 "></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3">
                <div class="card overflow-hidden">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h6 class="">Total Players</h6>
                                <h3 class="mb-2 number-font">34,789</h3>
                                <p class="text-muted mb-0">
                                    <span class="text-danger"><i class="fa fa-chevron-circle-down text-danger me-1"></i> 0.2%</span> last month
                                </p>
                            </div>
                            <div class="col col-auto">
                                <div class="counter-icon bg-success-gradient box-shadow-success brround  ms-auto">
                                    <i class="fe fe-briefcase text-white mb-5 "></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Total Transactions</h3>
            </div>
            <div class="card-body pb-0">
                <div id="chartArea" class="chart-donut"></div>
            </div>
        </div>
    </div>
    <!-- COL END -->
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-3">
        <div class="card custom-card ">
            <div class="card-header">
                <h3 class="card-title">Recent Orders</h3>
            </div>
            <div class="card-body pt-0 ps-0 pe-0">
                <div id="recentorders" class="apex-charts ht-150"></div>
                <div class="row sales-product-infomation pb-0 mb-0 mx-auto wd-100p mt-6">
                    <div class="col-md-6 col justify-content-center text-center">
                        <p class="mb-0 d-flex justify-content-center"><span class="legend bg-primary"></span>Delivered</p>
                        <h3 class="mb-1 fw-bold">5238</h3>
                        <div class="d-flex justify-content-center ">
                            <p class="text-muted mb-0">Last 6 months</p>
                        </div>
                    </div>
                    <div class="col-md-6 col text-center float-end">
                        <p class="mb-0 d-flex justify-content-center "><span class="legend bg-background2"></span>Cancelled</p>
                        <h3 class="mb-1 fw-bold">3467</h3>
                        <div class="d-flex justify-content-center ">
                            <p class="text-muted mb-0">Last 6 months</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- COL END -->
</div>
<!-- ROW-1 END -->
@*@Html.Partial("~/Views/Exercises/Index.cshtml");*@